
    <div class="parent">

      <div class="mynavbar">
        <div class="nav-button">
          <a class="Home" href="/">Home</a>
          <a class="register" href="/clubs">Clubs</a>
          <a class="Feature-Clubs" href="/register">Register</a>
          <a class="submit" href="/submit">Add Your Event</a>
          <a class="clubs" href="/clubform">Add your Club</a>
          <a class="logout" href="/logout">Logout</a>
        </div>
      </div>